.customer_form_field__item,
.customer_data__item {
  display: grid;
  gap: 8px;
  margin-bottom: 24px;
}
@media (min-width: 600px) {
  .customer_form_field__item,
.customer_data__item {
    grid-template-columns: [label] 80px [input] 1fr;
    gap: 16px;
    margin-bottom: 32px;
  }
}
@media (min-width: 769px) {
  .customer_form_field__item,
.customer_data__item {
    grid-template-columns: [label] 150px [input] 1fr;
  }
}
.customer_form_field__item > label,
.customer_form_field__item > span, .customer_form_field__item__label, .customer_form_field__item__value,
.customer_data__item > label,
.customer_data__item > span,
.customer_data__item__label,
.customer_data__item__value {
  font-size: 16px;
}
.customer_form_field__item__value,
.customer_data__item__value {
  display: flex;
  align-items: center;
  gap: 16px;
}
.customer_form_field__item__multibox__list,
.customer_data__item__multibox__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid #bdbdbd;
}
@media (min-width: 600px) {
  .customer_form_field__item__multibox__list,
.customer_data__item__multibox__list {
    grid-template-columns: repeat(auto-fill, 200px);
  }
}
.customer_form_field__item__multibox__list .customer_menu_item,
.customer_data__item__multibox__list .customer_menu_item {
  display: inline-grid;
  grid-template-columns: 1fr auto 1fr;
  -moz-column-gap: 1em;
       column-gap: 1em;
  align-items: center;
  position: relative;
}
.customer_form_field__item__multibox__list .customer_menu_item::before, .customer_form_field__item__multibox__list .customer_menu_item::after,
.customer_data__item__multibox__list .customer_menu_item::before,
.customer_data__item__multibox__list .customer_menu_item::after {
  content: "";
  background-color: #44a48a;
  background-color: #858585;
  justify-self: end;
  position: absolute;
}
.customer_form_field__item__multibox__list .customer_menu_item::before,
.customer_data__item__multibox__list .customer_menu_item::before {
  width: 18px;
  height: 3px;
  right: 8px;
}
.customer_form_field__item__multibox__list .customer_menu_item::after,
.customer_data__item__multibox__list .customer_menu_item::after {
  width: 3px;
  height: 18px;
  right: 15px;
}
.customer_form_field__item__multibox__list .customer_menu_item.is-open::after,
.customer_data__item__multibox__list .customer_menu_item.is-open::after {
  display: none;
}
.customer_form_field__item__multibox__list .customer_menu_item > input,
.customer_data__item__multibox__list .customer_menu_item > input {
  display: none;
}
.customer_form_field__item__multibox__list .customer_menu_item:first-child,
.customer_data__item__multibox__list .customer_menu_item:first-child {
  width: 100%;
  padding: 8px;
  background-color: #eee;
  font-weight: bold;
  font-size: 14px;
}
.customer_form_field__item__multibox__list input[type=checkbox],
.customer_form_field__item__multibox__list input[type=radio],
.customer_data__item__multibox__list input[type=checkbox],
.customer_data__item__multibox__list input[type=radio] {
  width: 1rem;
  height: 1rem;
}
.customer_form_field__item__multibox__list .widefat tfoot td input[type=checkbox]:before,
.customer_form_field__item__multibox__list .widefat th input[type=checkbox]:before,
.customer_form_field__item__multibox__list .widefat thead td input[type=checkbox]:before,
.customer_form_field__item__multibox__list input[type=checkbox]:checked:before,
.customer_data__item__multibox__list .widefat tfoot td input[type=checkbox]:before,
.customer_data__item__multibox__list .widefat th input[type=checkbox]:before,
.customer_data__item__multibox__list .widefat thead td input[type=checkbox]:before,
.customer_data__item__multibox__list input[type=checkbox]:checked:before {
  width: 1.3125rem;
  height: 1.3125rem;
}

.customer_form_field {
  width: 100%;
}
@media (min-width: 600px) {
  .customer_form_field {
    width: 80%;
    margin-inline: auto;
  }
}
.customer_form_field__item__multibox__selector {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-left: 16px;
}
@media (min-width: 600px) {
  .customer_form_field__item__multibox__selector {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .customer_form_field__item__multibox__selector {
    grid-template-columns: repeat(auto-fill, 100px);
  }
}
.customer_form_field__item__multibox__selector > span {
  display: flex;
  align-items: center;
}
.customer_form_field__item__multibox__selector > span > label {
  margin-top: -2.5px;
}

.js-menu-staff,
.js-menu-designate {
  display: none;
}
/*# sourceMappingURL=customer_form_field.css.map */