@mixin breakpoint( $point ) {
	@if $point == tablet {
		@media ( min-width: 600px ) {
			@content ;
		}
	}
	@if $point == pc {
		@media ( min-width: 769px ) {
			@content ;
		}
	}
	@if $point == pcWide {
		@media ( min-width: 1200px ) {
			@content ;
		}
	}
}


.customer_form_field,
.customer_data {
	&__item {
		display: grid;
		gap: 8px;
		margin-bottom: 24px;
		@include breakpoint( tablet ) {
			grid-template-columns: [label] 80px [input] 1fr;
			gap: 16px;
			margin-bottom: 32px;
		}
		@include breakpoint( pc ) {
			grid-template-columns: [label] 150px [input] 1fr;
		}
		> label,
		> span {
			font-size: 16px;
		}
		&__multibox {
			&__list {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				gap: 16px;
				padding-bottom: 32px;
				margin-bottom: 32px;
				border-bottom: 1px solid #bdbdbd;
				@include breakpoint( tablet ) {
					grid-template-columns: repeat( auto-fill, 200px );
				}
				.customer_menu_item:first-child {
					width: 100%;
					padding: 8px;
					background-color: #eee;
					font-weight: bold;
					font-size: 14px;
					@include breakpoint( tablet ) {
					}
				}
				input[type=checkbox],
				input[type=radio] {
					width: 1rem;
					height: 1rem;
				}
				.widefat tfoot td input[type=checkbox]:before,
				.widefat th input[type=checkbox]:before,
				.widefat thead td input[type=checkbox]:before,
				input[type=checkbox]:checked:before {
					width: 1.3125rem;
					height: 1.3125rem;
				}
			}
		}
	}
}
.customer_form_field {
	width: 100%;
	@include breakpoint( tablet ) {
		width: 80%;
		margin-inline: auto;
	}
	&__item {
		&__selector {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 16px;
			margin-left: 16px;
			@include breakpoint( tablet ) {
				grid-template-columns: 1fr 1fr 1fr;
			}
			@include breakpoint( pcWide ) {
				grid-template-columns: repeat( auto-fill, 100px );
			}
			> span {
				display: flex;
				align-items: center;
				> label {
					margin-top: -2.5px;
				}
			}
		}
	}
}

.js-menu-staff,
.js-menu-designate {
	display: none;
}
